.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    margin: var(--header-height) auto 0;
    padding: 5vh 10px 0;
    width: min(90%, 1170px);
    flex-grow: 1;
}