
.button {
    --transition: 150ms;

    font-size: 1em;
    padding: 0.6em 1em;

    background-color: transparent;
    border: 2px solid var(--clr-text-primary);
    box-shadow: 0 0 0 var(--clr-text-primary);
    color: var(--clr-text-primary);

    cursor: pointer;

    transition: background-color var(--transition) ease,
    color var(--transition) ease,
    box-shadow var(--transition) ease;
}

.button:hover,
.button:focus{
    background-color: var(--clr-text-primary);
    box-shadow: 0 0 10px var(--clr-text-primary);
    color: var(--clr-bg-primary);
}

.button.small {
    font-size: .7em;
}

.button.large {
    font-size: 1.5em;
}

.button.reverse {
    background-color: var(--clr-text-primary);
    box-shadow: 0 0 10px var(--clr-text-primary);
    color: var(--clr-bg-primary);
}

.button.reverse:hover,
.button.reverse:focus {
    background-color: transparent;
    box-shadow: 0 0 0 var(--clr-text-primary);
    color: var(--clr-text-primary);
}