
.button {
    font-size: 1em;
    padding: 0.6em;
    background-color: transparent;
    border: 2px solid var(--clr-text-primary);
    color: var(--clr-text-primary);
    transition: background-color 200ms ease, color 200ms ease;

    cursor: pointer;
}

.button:hover,
.button:focus{
    background-color: var(--clr-text-primary);
    color: var(--clr-bg-primary);
}

.button.small {
    font-size: .7em;
}

.button.large {
    font-size: 1.5em;
}