
.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
    border-bottom: 2px solid var(--clr-text-primary);
    gap: 1em;
}

.title {
    position: relative;
    font-size: 2.5rem;
    text-shadow: 0 0 5px var(--clr-text-secondary), 0 0 10px var(--clr-text-primary);
}

.search {
    display: flex;
    align-items: center;
    gap: 1em;
}